.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2233;
  padding: 15px 25px;
  color: white;
  border-bottom: 1px solid #2e354d;
}

.topbar h3 {
  font-size: 18px;
  color: #00ff99;
  font-weight: 600;
}

.logout-btn {
  background-color: #00ff99;
  border: none;
  color: #0b0f18;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.logout-btn:hover {
  background-color: #02d680;
}
